# NPMモジュール
node_modules/

# JSDocの出力先
out/

# istanbul の出力先
coverage/

# 設定ファイル
.idea/
.settings/
.project
.sublime-project
.tern-project

# その他
.git
.setenv
.command-memo
*.log
.DS_Store
Thumbs.db
doc/
public/dev/
public/dist/
upload/